@using MvcForms
@using Lucid.Web.App.Html
@inherits System.Web.Mvc.WebViewPage<RawFormModel>

<table>
    <tbody>
        <tr><td>Url</td>        <td>@Model.Url</td></tr>
        <tr><td>HttpMethod</td> <td>@Model.HttpMethod</td></tr>
        <tr><td>ContentType</td><td>@Model.ContentType</td></tr>
        <tr><td>Content</td>    <td>@Model.Content</td></tr>
    </tbody>
</table>

<hr />

@using (Html.Form().Tag(t => t.Id("rawForm")).Begin())
{
    <table>
        <tbody>

            <tr>
                <td>Method:</td>
                <td>
                    <select id="httpMethod">
                        <option>post</option>
                        <option>get</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Input name="Input_NoType"</td>
                <td>
                    <input type="text" name="Input_NoType" value="Value1" />
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Text"</td>
                <td>
                    <input type="text" name="Input_Text" value="Value1" />
                </td>
            </tr>

            <tr>
                <td>2 Inputs type="text" both name="Input_Text_Duplicate"</td>
                <td>
                    <input type="text" name="Input_Text_Duplicate" value="Value1" />
                    <input type="text" name="Input_Text_Duplicate" value="Value2" />
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Readonly"</td>
                <td>
                    <input type="text" name="Input_Readonly" value="Value_Readonly" readonly />
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Disabled"</td>
                <td>
                    <input type="text" name="Input_Disabled" value="Value_Disabled" disabled />
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Disabled"</td>
                <td>
                    <input type="text" name="Input_Disabled" value="Value_Disabled" disabled />
                </td>
            </tr>

            <tr>
                <td>Input type="checkbox" name="Input_Checkbox"</td>
                <td>
                    <input type="checkbox" name="Input_Checkbox" />
                </td>
            </tr>

            <tr>
                <td>2 Inputs type="checkbox" both name="Input_Checkbox2"</td>
                <td>
                    <input type="checkbox" value="r1" name="Input_Checkbox2" />
                    <input type="checkbox" value="r2" name="Input_Checkbox2" checked />
                </td>
            </tr>

            <tr>
                <td>Input type="checkbox" name="Input_Password"</td>
                <td>
                    <input type="password" name="Input_Password" />
                </td>
            </tr>

            <tr>
                <td>Input type="radio" name="Input_Radio"</td>
                <td>
                    <input type="radio" name="Input_Radio" />
                </td>
            </tr>

            <tr>
                <td>2 Inputs type="radio" both name="Input_Radio2"</td>
                <td>
                    <input type="radio" value="r1" name="Input_Radio2" />
                    <input type="radio" value="r2" name="Input_Radio2" checked />
                </td>
            </tr>

            <tr>
                <td>select name="Select"</td>
                <td>
                    <select name="Select" disabled>
                        <option value="">empty value</option>
                        <option>no_value_set</option>
                        <option></option>
                        <option value="value1" selected>value 1</option>
                        <option value="value2">value 2</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>textarea name="TextArea"</td>
                <td>
                    <textarea name="TextArea" readonly>Some text</textarea>
                </td>
            </tr>

            <tr>
                <td>input type="submit" (no name or value)</td>
                <td>
                    <input type="submit" />
                </td>
            </tr>

            <tr>
                <td>input type="submit" name="SubmitWithNameOnly"</td>
                <td>
                    <input type="submit" name="SubmitWithNameOnly" />
                </td>
            </tr>

            <tr>
                <td>input type="submit" names="SubmitValue"</td>
                <td>
                    <input type="submit" name="SubmitValue" value="SubmitValue1" />
                    <input type="submit" name="SubmitValue" value="SubmitValue2" />
                </td>
            </tr>

            <tr>
                <td>input type="image" name="Image"</td>
                <td>
                    <input type="image" name="Image" value="ImagePressed" />
                </td>
            </tr>

        </tbody>
    </table>
}

<script>

    var form = document.getElementById("rawForm");

    if (form === null)
        alert("form id=rawForm not found");

    var httpMethodSelect = document.getElementById("httpMethod");
    httpMethodSelect.addEventListener('change', httpMethodSelectChange);
    httpMethodSelect.value = '@Model.HttpMethod.ToLower()';
    httpMethodSelectChange();

    function httpMethodSelectChange() {
        form.method = httpMethodSelect.value;
    }

</script>