@namespace Lucid.Infrastructure.Host.Web.Layout
@using Lucid.Infrastructure.Lib.MvcApp.Pages
@{
    PageInfo PageInfo = ViewBag.PageInfo;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="~/favicon.ico">
    <title>Lucid - @PageInfo.Title</title>

    <link rel="stylesheet" href="@Context.AddFileVersionToPath("/css/site.min.css")" />

</head>
<body class="lucid">
    <div data-pjax="true">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/">Lucid</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a href="/projectCreation" class="nav-link">Generate Project</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="main-title">
            <div class="container">
                @PageInfo.Title
            </div>
        </div>

        <div class="main">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Context.AddFileVersionToPath("/js/site.min.js")"></script>
</body>
</html>
