@namespace Lucid.Infrastructure.Host.Web.Layout
@using Lucid.Infrastructure.Lib.MvcApp
@using Lucid.Infrastructure.Lib.MvcApp.Pages
@using MvcForms.Navigation
@using MvcForms.Styles
@using MvcForms.Styles.Bootstrap
@{
    MenuModel MenuModel = ViewBag.MenuModel;
    PageInfo PageInfo = ViewBag.PageInfo;
    Layout = MenuModel.Layout;
}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Lucid</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="@Modules.ProjectCreation.Actions.Index()" class="nav-link">Generate Project</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ToDoApp Factory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Modules.AppFactory.Design.Blueprints.Actions.List()">Design</a>
                            <a class="dropdown-item disabled" href="#">Manufacturing</a>
                            <a class="dropdown-item disabled" href="#">Sales</a>
                        </div>
                    </li>
                </ul>
            </div>
            @if (Context.LoggedInUser() == null)
            {
                @Html.LinkButton("Log In", Modules.Security.Actions.Login()).Style(BootstrapButton.Success).Tag(t => t.Id("logInOut"))
            }
            else
            {
                @Html.LinkButton($"Log Out {Context.LoggedInUser().Name}", Modules.Security.Actions.LogOut()).Style(BootstrapButton.Primary).Tag(t => t.Id("logInOut"))
            }
        </div>
    </nav>
</header>

<div class="main-title">
    <div class="container">
        @PageInfo.Title
    </div>
</div>

<div class="main" data-keep-scroll="main-scroll">
    <div class="container">
        @RenderBody()
    </div>
</div>
