@inherits LucidPage<StartDesignModel>
@using Lucid.Web.App.Planning
@{
    SetMenuPage(title: "Start Design");
}
<div>Start design</div>

@Html.ValidationSummary(true)
@using (var form = Html.FormFor(Model.Cmd).Begin())
{
    <div>
        @form.Html.LabelFor(c => c.Name, "Design Name")
        @form.Html.TextBoxFor(c => c.Name)
        @form.Html.ValidationMessageFor(c => c.Name)
    </div>

    @Html.ButtonSubmit("Start Design")
    @Html.LinkButtonCancelModal()
}
