@using System.Web.Mvc.Html
@using Lucid.Web.Html
@using Lucid.Web.StubApp.App.Html
@inherits System.Web.Mvc.WebViewPage<RawFormModel>

<table>
    <tbody>
        <tr><td>Url</td>        <td>@Model.Url</td></tr>
        <tr><td>HttpMethod</td> <td>@Model.HttpMethod</td></tr>
        <tr><td>ContentType</td><td>@Model.ContentType</td></tr>
        <tr><td>Content</td>    <td>@Model.Content</td></tr>
    </tbody>
</table>

<hr />

@using (Html.Form(f => f.Id("rawForm")))
{
    <table>
        <tbody>

            <tr>
                <td>Method:</td>
                <td>
                    <select id="httpMethod">
                        <option>post</option>
                        <option>get</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Text"</td>
                <td>
                    <input type="text" name="Input_Text" value="Value1" />
                </td>
            </tr>

            <tr>
                <td>2 Inputs type="text" both name="Input_Text_Duplicate"</td>
                <td>
                    <input type="text" name="Input_Text_Duplicate" value="Value1" />
                    <input type="text" name="Input_Text_Duplicate" value="Value2" />
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Readonly"</td>
                <td>
                    <input type="text" name="Input_Readonly" value="Value_Readonly" readonly />
                </td>
            </tr>

            <tr>
                <td>Input type="text" name="Input_Disabled"</td>
                <td>
                    <input type="text" name="Input_Disabled" value="Value_Disabled" disabled />
                </td>
            </tr>

            <tr>
                <td>(no name or value)<input type="submit" /></td>
            </tr>

        </tbody>
    </table>
}

<script>

    var form = document.getElementById("rawForm");
    var httpMethodSelect = document.getElementById("httpMethod");
    httpMethodSelect.addEventListener('change', httpMethodSelectChange);
    httpMethodSelect.value = '@Model.HttpMethod.ToLower()';
    httpMethodSelectChange();

    function httpMethodSelectChange() {
        form.method = httpMethodSelect.value;
    }

</script>