@{
    MenuModel m = ViewBag.MenuModel;
    Layout = m.Layout;
}
<div class="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Content(Lucid.Web.App.Home.Actions.Index())">Lucid</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Content(Lucid.Web.App.Generation.Actions.Generate())">Generate Project</a></li>
                    <li><a href="@Url.Content(Lucid.Web.App.Planning.Actions.List())">Designs</a></li>
                </ul>
            </div>
            @if (m.IsLoggedIn)
            {
                @Html.LinkButton("Log Out " + m.IdentityText, Lucid.Web.App.Home.Actions.LogOut()).Style(BootstrapButton.Primary).Tag(t => t.Id("logInOut"))
            }
            else
            {
                @Html.LinkButton("Log In", Lucid.Web.App.Home.Actions.Login()).Style(BootstrapButton.Success).Tag(t => t.Id("logInOut"))
            }
        </div>
    </nav>
</div>

<div class="main-title">
    <div class="container">
        @ViewBag.Title
    </div>
</div>

<div class="main">
    <div class="container">
        @RenderBody()
    </div>
</div>
